@use '@angular/material' as mat;

html {
  color-scheme: light;
  @include mat.theme((
    color: ( primary: mat.$azure-palette, theme-type: light ),
    typography: Roboto,
    density: 0,
  ));
}

body { margin: 0; font-family: Roboto, sans-serif; }

@import '@angular/cdk/overlay-prebuilt.css';
@import 'prismjs/themes/prism-tomorrow.css';
